<div class="app-padding-style">
<form>
  
    <h1 style="text-align:center;background-color:black;color:white;">
        {{ title }}!
      </h1>
  <div class="app-css-style">
  <div>
    <h2 style="font-size:28px;"><b>City</b></h2>
    <mat-form-field style="width:55%;"appearance="fill">
      <mat-label style="font-size:28px;">Select city</mat-label><br>
      <mat-select (selectionChange)="getWeatherForecastByCity($event.value)">
        <mat-option style="font-size:18px;" *ngFor="let city of cities" [value]="city">
          {{city}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-card class="weather-info">
      <mat-card-content *ngFor="let data of weatherInfo?.data">
        <mat-card-subtitle class="day-date-styles"><b>{{data.day}}</b></mat-card-subtitle>
        <mat-card-subtitle class="day-date-styles"><b>{{data.date}}</b></mat-card-subtitle>
        <div>
          <div style="text-align:center;">
            <img src="{{data.weather.icon}}" />
          </div>
          <div style="text-align:center;">
            <span>{{data.temp}} °C</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <button style="left:35%;" class="block-button" type="button" mat-raised-button color="warn" [disabled]="selectedCity === ''"
      (click)="getWeatherForecastByCity(selectedCity)">Apply</button>
  </div>
</div>
</form>
</div>

